/*

primary color blue: #4bcaff;
darker blue: #277697;

dark gray: #414042;
black: #313032;
light gray bg: #f9f9f9;
gray border: #dad7d7;
light gray text: #d7d7d7;

green: #91c46b;
orange: #fd7c00;

*/